<div{{ attributes.addClass(
  'layout-container',
  'latvia-lv-auth'
) }}>

  <div id="main">

    <div class="container">
      <div id="content-wrapper">
        <div class="row">
          <section id="content" class="col-sm-12 col-lg-{{ main_content_grid }}">
            <div id="content-area">
              {{ page.content }}
            </div>
          </section><!-- /#content -->
        </div><!-- /.row -->

      </div><!-- /#content-wrapper -->
    </div><!-- /.container -->
  </div><!-- /#main -->
